body {
  background-color: #fafafa;
  color: #111111;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

/* Reset styles */
a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
ul,
ol {
  list-style-type: none;
}

/* Common styles */

.ingredients-title,
.made-title,
.products-title,
.topsellers-title,
.reviews-title {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

/* Header section */

header {
  background-color: #fcf1e0;
}

.header-logo {
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  font-weight: 700;
}

.header-logo-accent {
  font-style: italic;
}

.header-menu-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.01em;
  font-weight: 500;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

.header-socials-link {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.header-socials-link:hover,
.header-socials-link:focus {
  color: #fd9222;
}

/* Hero section */
.hero {
  background-color: rgba(17, 17, 17, 0.7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  font-weight: 500;
  color: #ffffff;
}

.hero-btn {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #fd9222;
}

/* Benefits section */
.benefits {
  background-color: #1e1823;
  color: #ffffff;
}

.benefits-caption {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
}

.benefints-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.accent {
  color: #fd9222;
}

/* Ingridients section */
.ingridients-caption {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

/* Made section */
.made-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
}
.made-list {
  /* list-style-type: disc; */
}

/* .made-list-item::before {
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
} */
.made-list-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* Products section */
.product-caption {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
}
.product-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
}
.product-btn {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
}
